.m-t-sm {
    margin-top: 10px;
}

.m-t-md {
    margin-top: 20px;
}

.m-t-xl {
    margin-top: 30px;
}

.m-r-sm {
    margin-right: 10px;
}
.m-r-md {
    margin-right: 20px;
}

.pull-right {
    float: right !important;
}

.m-l-sm {
    margin-left: 10px;
}

.m-l-md {
    margin-left: 20px;
}