.product-box {
    padding: 0;
    border-radius: 5px;
    border: 0px solid $border-color;
    transition: all 0.3s ease;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.15);
}

.product-box:hover,
.product-box.active {
    border: 0px solid transparent;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.4);
}

.product-imitation {
    text-align: center;
    padding: 90px 0;
    background-color: lighten($gray, 2%);
    color: darken($gray, 20%);
    height: 132px;
    &.bg-lazur {
        background-color: $lazur !important;
    }
    &.bg-danger {
        background-color: $red;
    }
    &.bg-info {
        background-color: $blue;
    }
    img {
        width: 250px;
        height: auto;
    }
}

.product-name {
    font-size: 16px;
    font-weight: 600;
    color: $text-color;
    display: block;
    margin: 2px 0 5px 0;
}

.product-name:hover,
.product-name:focus {
    color: $navy;
}

.product-price {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: $navy;
    padding: 6px 12px;
    position: absolute;
    top: -32px;
    right: 0;
}

.product-imitation.xl {
    padding: 120px 0;
}

.product-desc {
    padding: 20px;
    position: relative;
}